.example-wrap {
    margin: 10px;
    display: flex;
}
.example-attr {
    display: flex;
    flex-direction: column;
    padding:10px;
    border-right: 2px dashed #cfcfcf;
}
.example {
    padding-left: 10px;
}
.title {
    margin:10px 0;
}
.attr-wrap {
    margin-bottom:10px ;
    width:300px;
    border:1px solid black;
    .attr-item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid black;
        p {
            margin: 0;
            padding:0;
        }
        .attr-item-name {
           width: 80px;
           padding:10px;
        }
        .attr-item-val {
            padding:10px;
         }
         &:last-child {
            border-bottom: none;
         }
    }
    .btn-wrap {
        padding: 10px;
        width: 100%;
        text-align: right;
        box-sizing: border-box;
        button {
            background-color: blue;
            color:#fff;
            height:22px;
            border-radius: 10px;
            border:none;
        }
    }
}